@model Course

@{
    ViewData["Title"] = "Course details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
               
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">@Model.MaxMarks</p>
                        <p class="card-text">@Model.PassMarks</p>
                       
                        <p class="card-text">
                            <b>Students: </b>
                            <hr />
                            <div class="row">
                                @foreach (var student in Model.Student_Courses)
                                {
                                    <div class="column text-center">
                                        <a asp-controller="Students" asp-action="Details" asp-route-id="@student.StudentId">@student.Student.Name</a>
                                    </div>
                                }
                            </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
